<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 class='float-left'>Lista Linhas</h1>                                    
        </div>                
    </div>
    <div class='col-lg-12'>
        <p>Através dessa aplicação você pode fazer pesquisa por linhas de ônibus e lotações na cidade de porto alegre.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 mb-2">
        <div class="input-group">
            <input 
                type="text" 
                id="search"                 
                class="form-control" 
                placeholder="Pesquisa por Id, Nome ou Código."
                [(ngModel)]="queryField"
            />
            <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01" (change)="onSearch($event.target.value)">
                    <option value="o" selected>Ônibus</option>
                    <option value="l">Lotação</option>
                </select>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table" id="table" *ngIf="linhas$ | async as linhas; else loading">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Código</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let linha of linhas | filter:queryField">
                    <td>{{ linha.id }}</td>
                    <td>{{ linha.nome }}</td>
                    <td>{{ linha.codigo }}</td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <div *ngIf="error$ | async; else loadingNoError">
                Erro ao carregar linhas. Tente novamente mais tarde.<br>                
            </div>            
            <ng-template #loadingNoError>
                <span>Carregando Linhas...</span>
            </ng-template>
        </ng-template>
        <hr>
    </div>
</div>