<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Lista Linhas</h1>
        </div>
        <p>Através dessa aplicação você pode fazer pesquisa por linhas de ônibus e lotações na cidade de porto alegre.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 mb-2">
        <input type="search" id="search" value="" class="form-control" placeholder="Search using Fuzzy searching">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>First column</th>
                    <th>Second column</th>
                    <th>Third column</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Introducing</td>
                    <td>jQuery</td>
                    <td>Searchable</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Ipsum</td>
                    <td>Dolor</td>
                </tr>
                <tr>
                    <td>Some</td>
                    <td>More</td>
                    <td>Data</td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>
</div>